		
		#global
		
		/***** Global *****/
		/* Body */
			body {
				background: #F5F4EF;
				color: #000305;
				font-size: 87.5%; /* Base font size: 14px */
				font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
				line-height: 1.429;
				margin: 0;
				padding: 0;
				text-align: left;
			}
		 
		 
				/*
			Header
		*****************/
		#banner {
			margin: 0 auto;
		}
		 
		/* Banner */
		#banner h1 {
			font-size: 3em; 
			line-height: .6;
			margin-left: 30px;
		}

                #banner h1 .photo{
	 		float:left;
	                width: 88px;
        	}

		#banner h1 a:link, #banner h1 a:visited {
			color: #000305;
			display: block;
			font-weight: bold;
			margin: 0 0 .6em .2em;
			text-decoration: none;
			width: 550px;
                        padding-top: 25px;
		}
		#banner h1 a:hover, #banner h1 a:active {
			background: none;
			color: #C74350;
			text-shadow: none;
		}
	 
		#banner h1 strong {font-size: 0.36em; font-weight: normal;}
		
			/* Main Nav */
		#banner nav {
			background: #000305;
			font-size: 1.143em;
			height: 40px;
			line-height: 30px;
			padding: 0;
			text-align: center;
			width: 1000px;
			margin-left: 40px;
			
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		
		#banner nav ul {list-style: none; margin: 0 auto; width: 1000px;}
		#banner nav li {float: left; display: inline; margin: 0;}
		
		#banner nav a:link, #banner nav a:visited {
			color: #fff;
			display: inline-block;
			height: 30px;
			padding: 5px 1.5em;
			text-decoration: none;
		}
		#banner nav a:hover, #banner nav a:active,
		#banner nav .active a:link, #banner nav .active a:visited {
			background: #C74451;
			color: #fff;
			text-shadow: none !important;
            border-radius: 5px;
		}
		
		#banner nav li:first-child a {
			border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-webkit-border-top-left-radius: 5px;
			
			border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			-webkit-border-bottom-left-radius: 5px;
		}
		
		/*
		Body
		*****************/
		#content {
			background: #fff;
			margin-bottom: 2em;
			overflow: hidden;
			padding: 20px 20px;
			width: 1000px;
		    margin-left: 20px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}
		
		.entry-content{
            width:1000px;
            height:600px;
            float:left;
        }   


            .topo{
		height: 500px;
		width: 500px;
		margin-left: 250px;

		} 
		
		.error{
			text-color: red;
		}
            .ruleBox{
                 background-color:#F3F3F3;
                 overflow-y:scroll;
                 height:600px;
            }
           
            .entry-content textarea{
                      width: 100%;
                      height: 400px; 
            }
        
        /*
        Button styling*/
		.button {
				-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
				-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
				box-shadow:inset 0px 1px 0px 0px #f5978e;
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d26973), color-stop(1, #c74451) );
				background:-moz-linear-gradient( center top, #d26973 5%, #c74451 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d26973', endColorstr='#c74451');
				background-color:#d26973;
				-webkit-border-top-left-radius:20px;
				-moz-border-radius-topleft:20px;
				border-top-left-radius:20px;
				-webkit-border-top-right-radius:20px;
				-moz-border-radius-topright:20px;
				border-top-right-radius:20px;
				-webkit-border-bottom-right-radius:20px;
				-moz-border-radius-bottomright:20px;
				border-bottom-right-radius:20px;
				-webkit-border-bottom-left-radius:20px;
				-moz-border-radius-bottomleft:20px;
				border-bottom-left-radius:20px;
				text-indent:0;
				border:1px solid #d02718;
				display:inline-block;
				color:#ffffff;
				font-family:Arial;
				font-size:15px;
				font-weight:bold;
				font-style:normal;
				height:36px;
				line-height:36px;
				width:120px;
				text-decoration:none;
				text-align:center;
				text-shadow:1px 1px 0px #810e05;
                                margin-top:20px;
                                margin-right:10px;
			}
			.button:hover {
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c74451), color-stop(1, #d26973) );
				background:-moz-linear-gradient( center top, #c74451 5%, #d26973 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c74451', endColorstr='#d26973');
				background-color:#c74451;
			}.button:active {
				position:relative;
				top:1px;
			}

		.editButton {
			float: right;
		}
		
		.filter{
		    float: right;
		}

		.filter_type{
			border-radius: 5px;
			margin: 10px;
			background-color: #f3f3f3;
			height: 25px;
			cursor: pointer;
		}
		
		.filter_p{
			border-radius: 5px;
			margin: 10px;
			background-color: #f3f3f3;
			height: 20px;
		}
		
		.table_section{
		overflow-y:scroll;
		height:500px;
		}
				
		#attacks-list td, #attacks-list th 
		{
		font-size:1em;
		border:1px solid #C74451;
		padding:3px 7px 2px 7px;
		}
		
		#attacks-list th 
		{
		font-size:1.1em;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#D77C85;
		color:#ffffff;
		}
		
		#attacks-list tr.alt td 
		{
		color:#000000;
		background-color:#EAF2D3;
		}

